# Check out ShellCheck at: https://www.shellcheck.net/

disable=SC1090
disable=SC1091
disable=SC2155

enable=avoid-nullary-conditions
enable=deprecate-which
enable=quote-safe-variables
enable=require-variable-braces
