name: Code Analysis
on:
  push:
    branches:
      - main
      - main-v2
  pull_request:
    branches:
      - main
      - main-v2
  schedule:
    - cron: '0 7 * * 3'

permissions: read-all

jobs:
  codeql:
    name: CodeQL
    runs-on: ubuntu-latest
    permissions:
      security-events: write
    steps:
      - name: Harden runner
        uses: step-security/harden-runner@v1.4.5
        with:
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            ghcr.io:443
            github.com:443
            nodejs.org:443
            pkg-containers.githubusercontent.com:443
            uploads.github.com:443
      - name: Checkout Repository
        uses: actions/checkout@v3.0.2
      - name: Initialize CodeQL
        uses: github/codeql-action/init@v2.1.19
        with:
          config-file: ./.github/codeql-config.yml
          languages: javascript
      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v2.1.19
