name: Releases
on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      update_type:
        description: Update type
        required: true
        type: choice
        options:
          - patch
          - minor
          - major

permissions: read-all

jobs:
  initiate:
    name: Initiate
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'workflow_dispatch' }}
    permissions:
      contents: write # To push a commit
      pull-requests: write # To open a Pull Request
    steps:
      - name: Harden runner
        uses: step-security/harden-runner@2e205a28d0e1da00c5f53b161f4067b052c61f34 # tag=v1.5.0
        with:
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            artifactcache.actions.githubusercontent.com:443
            github.com:443
            nodejs.org:443
            objects.githubusercontent.com:443
            registry.npmjs.org:443
      - name: Checkout repository
        uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b # tag=v3.0.2
      - name: Install Node.js
        uses: actions/setup-node@969bd2663942d722d85b6a8626225850c2f7be4b # tag=v3.5.0
        with:
          cache: npm
          node-version-file: .nvmrc
      - name: Install dependencies
        run: npm ci
      - name: Bump version
        run: npm version ${{ github.event.inputs.update_type }} --no-git-tag-version
      - name: Update CHANGELOG
        run: node script/bump-changelog.js
      - name: Update built files
        run: npm run build
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@671dc9c9e0c2d73f07fa45a3eb0220e1622f0c5f # tag=v4.1.3
        with:
          title: New ${{ github.event.inputs.update_type }} release for v3
          body: |
            _This Pull Request was created automatically_

            ---

            ### Merge checklist

            - [ ] All continuous integration checks passed.
            - [ ] The version number is updated in `package.json` and
                  `package-lock.json`.
            - [ ] A new release is added to `CHANGELOG.md` with the correct
                  version number and date.
            - [ ] The new version number is in accordance with the [semantic
                  versioning] rules.
            - [ ] The `lib/index.cjs` file has been updated.
            - [ ] There are no other changes in the Pull Request.

            If any of the above doesn't hold, or if this is a major release,
            make adjustments as necessary based on the Release Guidelines (in
            `RELEASE.md`).

            ### Post-merge checklist

            - [ ] Verify a git tag for the new release is created.[^1]
            - [ ] Verify the `v3` branch is updated.[^1]
            - [ ] Create a [GitHub Release] for the (automatically) created tag.
                  Ensure the release is published to the [GitHub Marketplace].

            [^1]: It may take a few minutes for this to happen.

            [github marketplace]: https://github.com/marketplace
            [github release]: https://docs.github.com/en/repositories/releasing-projects-on-github/managing-releases-in-a-repository
            [semantic versioning]: https://semver.org/spec/v2.0.0.html
          branch: release-${{ github.event.inputs.update_type }}
          branch-suffix: random
          commit-message: Version bump
  release:
    name: Create Release
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'push' }}
    permissions:
      contents: write # To push a tag
    steps:
      - name: Harden runner
        uses: step-security/harden-runner@2e205a28d0e1da00c5f53b161f4067b052c61f34 # tag=v1.5.0
        with:
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            artifactcache.actions.githubusercontent.com:443
            github.com:443
            nodejs.org:443
            objects.githubusercontent.com:443
            registry.npmjs.org:443
      - name: Checkout repository
        uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b # tag=v3.0.2
        with:
          fetch-depth: 0 # To obtain all tags
      - name: Install Node.js
        uses: actions/setup-node@969bd2663942d722d85b6a8626225850c2f7be4b # tag=v3.5.0
        with:
          cache: npm
          node-version-file: .nvmrc
      - name: Install dependencies
        run: npm ci
      - name: Check if version is already released
        id: version
        run: |
          VERSION="v$(jq -r '.version' < package.json)"
          echo "::set-output name=version::$VERSION"
          if [ "$(git tag -l "$VERSION")" ]; then
            echo "::set-output name=released::true"
          else
            echo "::set-output name=released::false"
          fi
      - name: Release new version as tags
        if: ${{ steps.version.outputs.released == 'false' }}
        run: |
          # Create tag for new version
          git tag "${{ steps.version.outputs.version }}"
          git push origin "${{ steps.version.outputs.version }}"

          # Update what commit the v3 branch points to
          git push origin HEAD:v3
